<!--@subject New customer registered @-->
Congratulations, a new customer has been registered:<br /><br />

Name: {{var customer.prefix}} {{var customer.firstname}} {{var customer.middlename}} {{var customer.lastname}} {{var customer.suffix}}<br />
TaxVat: {{var customer.taxvat}}
Company: {{var customer.address.company}}<br />
<br />
Street: {{var customer.address.street}}<br />
City: {{var customer.address.city}}<br />
Postcode: {{var customer.address.postcode}}<br />
Region: {{var customer.address.region}}<br />
Country Code: {{var customer.address.country_id}}<br />
Telephone: {{var customer.address.telephone}}<br />
Fax: {{var customer.address.fax}}<br />
Email: {{var customer.email}}<br />
